body{
    background-color: rgb(4, 52, 67);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
}

h1{
    text-align: center;
    color: bisque;
   }

hr{
   color: burlywood ;
  }

h2{
    text-align: center;
    color: rgb(197, 41, 18);
  }

img{
    width: 180px;
    height: auto;
 }

img:hover{
   width: 190px;
   height: auto;
}

a{
   text-decoration: none;
   color: rgb(35, 191, 211);
   font-size: 100%;
 }

a:hover{
   font-size: 110%;
}

.pb{
    display: flex;
    align-items: center;
    text-align: center;
 }

.sb{
   display: flex;
   align-items: center;
   text-align: center;
 }

.foc{
   display: flex;
   align-items: center;
   text-align: center;
}

span{
   margin: 20px 30px;
   padding: 20px;
   align-items: center;
   font-size: 110%;
   color: rgba(255, 228, 196, 0.923);
   background-color: rgba(1, 35, 31, 0.358);
   border-radius: 5px;

 }

span:hover{
  border-radius: 5px;
   color: black;
   background-color: rgba(255, 228, 196, 0.227);
 }
 
table{
    border: 2px solid black;
 }
 